<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../assets/style.css">
    <!-- <script src="../assets/lib/escapeHTML.js"></script> -->
</head>
<body>
    <header id="myTopnav">
        <div>
            <div class="topnav">
                <a href="/"></a>
                <a href="/cv">CV</a>
                <a href="/projects">Projects</a>
                <a href="/contact">Contact</a>
                <a href="/admin">Admin</a>
                <a href="/dashboards">Dashboard</a>
                <a href="javascript:void(0);" class="icon" onclick="burgerMenu()">
                    <i class="fa fa-bars"></i>
                </a>
            </div>
            <div id="border_header">
                <hr>
            </div>
        </div>

    </header>

    <script src="./components/nav/nav.js"></script>

    <main>

