<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../assets/style.css">
    <!-- <script src="../assets/lib/escapeHTML.js"></script> -->
</head>

</main>

<footer>
    <div id="footer_info">
        <div class="kontakt">
            <p><b>Telephone</b></p>
            <a href="tel:+45 4560606113">+45 60 60 61 13</a>
        </div>

        <div class="kontakt">
            <p><b>Email</b></p>
            <a href="mailto:maja.bijedic@live.dk">maja.bijedic@live.dk</a>
        </div>

        <div class="kontakt">
            <p><b>Social media</b></p>
            <a href="https://www.facebook.com/" aria-label="facebook" class="fa fa-facebook"></a>
            <a href="https://www.instagram.com/" aria-label="instagram" class="fa fa-instagram"></a>

        </div>
    </div>
    <div class="copyright">

        <p> © Copyright 2021 - All Rights Reserved ❘ Designed by Maja Bijedić</p>
    </div>


</footer>

</body>
</html>